@charset "utf-8";

/* top banner */
#topBanner {
    display: flex;
    height: 73px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

#topBanner>a>img {
    width: 980px;
    height: 73px;
    background-color: rgb(255, 255, 255);
   
    margin-left: -20px;
}

#topBanner>#topClose {
    width: 28px;
    height: 28px;
    border: none;
    margin-left: -50px;
}


/* header */
header {
    width: 980px;
    height: 168px;
    margin: 0 auto;
}

header>#topHeader {
    width: 980px;
    height: 38px;
    margin: 0 auto;
}

header>#topHeader>#appDown {
    float: left;
    width: 107px;
    height: 18px;
    background-color: rgb(154, 205, 255);
    margin-top: 10px;
}

header>#topHeader>#appDown>button {
    float: left;
    width: 107px;
    height: 18px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 10px;
    font-weight: bold;
}

header>#topHeader>nav> {
    float: right;
    width: 278px;
    height: 38px;
    font-size: 10px;
}

header>#topHeader>nav>ul {
    float: right;
}

header>#topHeader>nav>ul>li {
    float: left;
    line-height: 38px;
    margin: 0 5px;
    color: rgb(225, 225, 255);
}

header>#topHeader>nav>ul>li>a {
    font-size: 12px;
    font-family: "Noto Sans KR", dotum, 돋움, gulim, 굴림, sans-serif;
    color: rgb(0, 0, 0);
}

header>#topHeader>nav>ul>li>#cartBold {
    font-weight: bold;
}

header>#middleHeader {
    width: 980px;
    height: 82px;
    text-align: center;
}

header>#middleHeader>nav {
    width: 220px;
    height: 20px;

}

header>#middleHeader>nav>ul {
    float: left;
    margin-right: 5px;
}


header>#middleHeader>nav>ul>li {
    float: left;
    margin-right: 5px;
    margin-top: 30px;
}

header>#middleHeader>nav>ul>li>a {
    width: 280px;
    height: 15px;
    font-size: 15px;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

header>#middleHeader>#logo {
    float: left;
    width: 174px;
    height: 39px;
    margin-left: 183px;
}

header>#middleHeader>#logo>a>img {
    width: 100%;
    height: 100%;
}

header>#middleHeader>#searchInput {
    float: right;
    width: 180px;
    height: 22px;
    border-bottom: 1px solid rgb(255, 0, 0);
    margin-top: 15px;
    margin-right: 15px;
}

header>#middleHeader>#searchInput>#inputWord {
    float: left;
    width: 150px;
    height: 21px;
    outline: none;
    background: none;
    caret-color: rgb(255, 0, 0);
    margin-left: 5px;
}

header>#middleHeader>#searchInput>#searchButton {
    background-size: cover;
    width: 21px;
    height: 21px;
    background-image: url("../webapp/resources/img/header_middle/search_button.png");
}

header>#bottomHeader {
    float: left;
    width: 100%;
    height: 48px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

header>#bottomHeader>button {
    display: block;
    width: 120px;
    height: 46px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    outline: none;
    float: left;
    font-weight: 1000;
    cursor: pointer;
}

header>#bottomHeader>nav {
    float: left;
    width: 740px;
    height: 48px;

}

header>#bottomHeader>nav>ul>li {
    display: inline-block;
    margin-left: 17px;
    line-height: 48px;
}

header>#bottomHeader>nav>ul>li>a {
    color: inherit;
    font-weight: 600;
    padding: 12px 0;
    font-family: inherit;
}

header>#bottomHeader>p {
    display: block;
    float: right;
    width: 118px;
    height: 48px;
    line-height: 48px;
    color: #ccc;
    font-weight: bold;
}

header>#bottomHeader>p>span>a {
    display: inline-block;
    font-weight: bold;
    color: red;
    margin-left: 10px;
}

/* slider */
#slider {
    display: flex;
    width: 100%;
    height: 414px;
    background-color: #FAF7F5;
    align-items: center;
    justify-content: center;
}

#slider>img {
    position: absolute;
}

#mobileAward {
    opacity: 1;
}

#delivery {
    opacity: 1;
}

#slider>ul>li {
    float: left;
}

#slider>ul>li> {
    color: #ffffff;
    position: absolute;

}

/* sub pages */

.subPages {
    margin: 0 auto;
    width: 980px;
    display: flex;
    /* flex-direction: column; */
    /* border: 1px solid #ccc; */
    flex-wrap: wrap;
}

.subPages>.subPagesTitle {
    float: left;
    width: 980px;
    height: 80px;
    text-align: center;
    line-height: 100px;
}


.subPages>.subPagesTitle>span {
    margin-left: 60px;
    font-weight: 150;
}

.subPages>.productInfo {
    float: left;
    width: 298px;
    height: 430px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: content-box;
}

.subPages>.productInfo:hover {
    border: 1px solid #000000;
}

.subPages>.productInfo>.productImage {
    float: left;
    width: 298px;
    height: 300px;
    position: absolute;
}

.subPages>.productInfo>.item {
    width: 298px;
    height: 128px;
    margin-top: 300px;
    padding: 20px;

}

.subPages>.productInfo>.item>.productName {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.subPages>.productInfo>.item>.productIntro {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.subPages>.productInfo>.item>.productPrice {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

/* sub end */

/* section signature*/

.middleSection {
    width: 980px;
    height: 560px;

}

.middleSection>h2 {
    margin-top: 20px;
    margin-left: 400px;
}

.middleSection>h2>span {
    font-weight: 150;
}

.middleSection>.leftButton {
    float: left;
    width: 38px;
    height: 39px;
    background-image: url("../webapp/resources/img/etc/icon_arrow_left.png");
    background-size: cover;
    margin-left: 904px;
}

.middleSection>.rightButton {
    float: left;
    width: 38px;
    height: 39px;
    background-size: cover;
    margin-top: -39px;
    margin-left: 942px;
    background-image: url("../webapp/resources/img/etc/icon_arrow_right.png");
}

.middleSection>.productInfo {
    float: left;
    width: 298px;
    height: 430px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: content-box;
}

.middleSection>.productInfo:hover {
    border: 1px solid #000000;
}

.middleSection>.productInfo>.productImage {
    float: left;
    width: 298px;
    height: 300px;
    position: absolute;
}

.middleSection>.productInfo>.item {
    width: 298px;
    height: 128px;
    margin-top: 300px;
    padding: 20px;
}



.middleSection>.productInfo>.item>.productName {
    width: 298%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.middleSection>.productInfo>.item>.productIntro {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.middleSection>.productInfo>.item>.productPrice {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

/* rows section 01 */
.rowsSection {
    width: 980px;
    height: 500px;
}

.rowsSection>h2 {
    margin-top: 20px;
    margin-left: 400px;
}

.rowsSection>h2>span {
    font-weight: 150;
}

.rowsSection>.leftButton {
    float: left;
    width: 38px;
    height: 39px;
    background-image: url("../webapp/resources/img/etc/icon_arrow_left.png");
    background-size: cover;
    margin-left: 904px;
}

.rowsSection>.rightButton {
    float: left;
    width: 38px;
    height: 39px;
    background-image: url("../webapp/resources/img/etc/icon_arrow_right.png");
    background-size: cover;
    margin-top: -39px;
    margin-left: 942px;
}

.rowsSection>.rowsInformation {
    float: left;
    width: 224px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 9px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: content-box;
}

.rowsSection>.rowsInformation:nth-of-type(1) {
    margin-left: 21px;
}

.rowsSection>.rowsInformation:hover {
    border: 1px solid #000000;
}

.rowsSection>.rowsInformation>.rowsProductImage {
    float: left;
    width: 224px;
    height: 228px;
    position: absolute;
}

.rowsSection>.rowsInformation>.rowsItem {
    width: 224px;
    height: 128px;
    margin-top: 230px;
    padding: 20px;
}

.rowsSection>.rowsInformation>.rowsItem>.rowsProductName {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.rowsSection>.rowsInformation>.rowsItem>.rowsProductIntro {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.rowsSection>.rowsInformation>.rowsItem>.rowsProductPrice {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

.bottomSection {
    float: left;
    width: 980px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

/* rows section 02 */
.rowsSection>.rowsInformation2 {
    float: left;
    width: 224px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 9px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: content-box;
}

.rowsSection>.rowsInformation2:nth-of-type(1) {
    margin-left: 21px;
}

.rowsSection>.rowsInformation2:hover {
    border: 1px solid #000000;
}

.rowsSection>.rowsInformation2>.rowsProductImage2 {
    float: left;
    width: 224px;
    height: 228px;
    position: absolute;
}

.rowsSection>.rowsInformation2>.rowsItem2 {
    width: 224px;
    height: 128px;
    margin-top: 230px;
    padding: 20px;
}

.rowsSection>.rowsInformation2>.rowsItem2>.rowsProductName2 {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.rowsSection>.rowsInformation2>.rowsItem2>.rowsProductIntro2 {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.rowsSection>.rowsInformation2>.rowsItem2>.rowsProductPrice2 {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

/* rows section 03 */
.rowsSection>.rowsInformation3 {
    float: left;
    width: 224px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 9px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: content-box;
}

.rowsSection>.rowsInformation3:nth-of-type(1) {
    margin-left: 21px;
}

.rowsSection>.rowsInformation3:hover {
    border: 1px solid #000000;
}

.rowsSection>.rowsInformation3>.rowsProductImage3 {
    float: left;
    width: 224px;
    height: 228px;
    position: absolute;
}

.rowsSection>.rowsInformation3>.rowsItem3 {
    width: 224px;
    height: 128px;
    margin-top: 230px;
    padding: 20px;
}

.rowsSection>.rowsInformation3>.rowsItem3>.rowsProductName3 {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.rowsSection>.rowsInformation3>.rowsItem3>.rowsProductIntro3 {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.rowsSection>.rowsInformation3>.rowsItem3>.rowsProductPrice3 {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

/* rows section 04 */
.rowsSection>.rowsInformation4 {
    float: left;
    width: 224px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 9px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: content-box;
}

.rowsSection>.rowsInformation4:nth-of-type(1) {
    margin-left: 21px;
}

.rowsSection>.rowsInformation4:hover {
    border: 1px solid #000000;
}

.rowsSection>.rowsInformation4>.rowsProductImage4 {
    float: left;
    width: 224px;
    height: 228px;
    position: absolute;
}

.rowsSection>.rowsInformation4>.rowsItem4 {
    width: 224px;
    height: 128px;
    margin-top: 230px;
    padding: 20px;
}

.rowsSection>.rowsInformation4>.rowsItem4>.rowsProductName4 {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.rowsSection>.rowsInformation4>.rowsItem4>.rowsProductIntro4 {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.rowsSection>.rowsInformation4>.rowsItem4>.rowsProductPrice4 {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

/* rows section 05 */
.rowsSection>.rowsInformation5 {
    float: left;
    width: 224px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 9px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: content-box;
}

.rowsSection>.rowsInformation5:nth-of-type(1) {
    margin-left: 21px;
}

.rowsSection>.rowsInformation5:hover {
    border: 1px solid #000000;
}

.rowsSection>.rowsInformation5>.rowsProductImage5 {
    float: left;
    width: 224px;
    height: 228px;
    position: absolute;
}

.rowsSection>.rowsInformation5>.rowsItem5 {
    width: 224px;
    height: 128px;
    margin-top: 230px;
    padding: 20px;
}

.rowsSection>.rowsInformation5>.rowsItem5>.rowsProductName5 {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.rowsSection>.rowsInformation5>.rowsItem5>.rowsProductIntro5 {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.rowsSection>.rowsInformation5>.rowsItem5>.rowsProductPrice5 {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

/* rows section 06 */
.rowsSection>.rowsInformation6 {
    float: left;
    width: 224px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 9px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: content-box;
}

.rowsSection>.rowsInformation6:nth-of-type(1) {
    margin-left: 21px;
}

.rowsSection>.rowsInformation6:hover {
    border: 1px solid #000000;
}

.rowsSection>.rowsInformation6>.rowsProductImage6 {
    float: left;
    width: 224px;
    height: 228px;
    position: absolute;
}

.rowsSection>.rowsInformation6>.rowsItem6 {
    width: 224px;
    height: 128px;
    margin-top: 230px;
    padding: 20px;
}

.rowsSection>.rowsInformation6>.rowsItem6>.rowsProductName6 {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.rowsSection>.rowsInformation6>.rowsItem6>.rowsProductIntro6 {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.rowsSection>.rowsInformation6>.rowsItem6>.rowsProductPrice6 {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

/* rows section 07 */
.rowsSection>.rowsInformation7 {
    float: left;
    width: 224px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 9px;
    border: 1px solid #ccc;
    margin-top: 20px;
    box-sizing: content-box;
}

.rowsSection>.rowsInformation7:nth-of-type(1) {
    margin-left: 21px;
}

.rowsSection>.rowsInformation7:hover {
    border: 1px solid #000000;
}

.rowsSection>.rowsInformation7>.rowsProductImage7 {
    float: left;
    width: 224px;
    height: 228px;
    position: absolute;
}

.rowsSection>.rowsInformation7>.rowsItem7 {
    width: 224px;
    height: 128px;
    margin-top: 230px;
    padding: 20px;
}

.rowsSection>.rowsInformation7>.rowsItem7>.rowsProductName7 {
    width: 100%;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.rowsSection>.rowsInformation7>.rowsItem7>.rowsProductIntro7 {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    font-size: 13px;
}

.rowsSection>.rowsInformation7>.rowsItem7>.rowsProductPrice7 {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 0, 0);
}

/*footer*/
footer {
    width: 980px;
    height: 240px;
    padding-top: 30px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
}

footer>#info01 {
    float: left;
    width: 530px;
    height: 210px;
    border: 1px solid #ccc;
    line-height: 50px;
}

footer>#info01>img {
    width: 460px;
    height: 180px;
    margin-top: 15px;
    margin-left: 40px;
}

footer>#info02 {
    float: right;
    width: 432px;
    height: 60px;
    border: 1px solid #ccc;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

footer>#info02>p {
    float: left;
    width: 78px;
    height: 17px;
    line-height: 58px;
    margin-left: 10px;
}

footer>#info02>#footerSlider {
    float: left;
    width: 270px;
    height: 30px;
    padding-left: 7px;
    line-height: 60px;
    font-size: 14px;
    color: #666;
}

footer>#info03 {
    float: right;
    width: 430px;
    height: 140px;
    border: 1px solid #ccc;
    margin: 10px 0 0 10px;
}

footer>#info03>div {
    float: left;
    width: 70px;
    height: 100px;
    text-align: center;
}

footer>#info03>div>.icon {
    float: right;
    width: 66px;
    height: 66px;
    margin-top: 23px;
    margin-left: 100px;
}

footer>#info03>p {
    float: left;
    width: 100px;
    height: 30px;
    font-weight: bold;
    margin: 20px 0 0 20px;
}

footer>#info03>div>p {
    float: left;
    width: 70px;
    height: 30px;
    line-height: 45px;
    color: #666;
    font-size: 12px;
}


footer>#footerBottom {
    float: left;
    width: 980px;
    height: 240px;
    border-top: 3px solid #ccc;
    margin: 20px 0;
}

footer>#footerBottom>#top {
    float: left;
    width: 260px;
    height: 50px;
    line-height: 55px;
    font-size: 14px;
    font-weight: bold;
}

footer>#footerBottom>#top>a {
    margin: 0 8px 0 0
}

footer>#footerBottom>#middle1 {
    float: left;
    width: 785px;
    height: 80px;
    color: #666;
    font-size: 13px;
    margin: 50px -260px
}

footer>#footerBottom>img {
    float: left;
    width: 433px;
    height: 53px;
    margin: 100px -535px
}

footer>#footerBottom>#right {
    float: right;
    width: 154px;
    height: 90px;
    color: #000;
    margin-top: 50px;
    font-size: 14px;
    font-style: inherit;
}

footer>#footerBottom>#right>span {
    font-size: 13px;
    font-weight: bold;
}

footer>#footerBottom>#right>#tel {
    font-size: 26px;
    font-weight: bold;
}